p {
  padding: 0;
  margin: 0;
}

.option {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  border: 0.2rem solid rgba(50, 200, 30, 0.5);
  background-color: white;
  border-radius: 1rem;
}

.option:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(36, 115, 19, 0.5);
  transition: transform 150ms;
}

.option-num {
  padding: 1.5rem 1.8rem;
  /*background-color: rgba(50, 200, 30, 0.5);*/
  color: black;
}

.option-detail {
  padding: 1.5rem;
}