{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bulma and custom CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'quizzes/css/base.css' %}">

    <title>{% block title %}Quizzes{% endblock %}</title>
</head>

<!-- Extend the body block to avoid inheriting the navbar -->
{% block body %}
    <body class="has-navbar-fixed-top">
    <!-- Navbar configuration -->
    <nav class="navbar is-fixed-top is-success has-text-weight-bold" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item {% if request.path == "/" %}is-active{% endif %}" href="{% url "home" %}">Home</a>
            {% if request.user.is_teacher %}
                <a class="navbar-item {% if request.path == "/data/dashboard/" %}is-active{% endif %}" href="{% url "dashboard" %}">Dashboard</a>
            {% else %}
                <a class="navbar-item {% if request.path == "/data/progress/" %}is-active{% endif %}" href="{% url "progress" %}">Progress</a>
            {% endif %}

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarElements">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarElements" class="navbar-menu">
            <!-- left-hand side -->
            <div class="navbar-start">
                <!-- items are in navbar brand so that they always display on small screens -->
            </div>
            <!-- right-hand side -->
            <div class="navbar-end">
                <a class="navbar-item {% if request.path == "/profile/" %}is-active{% endif %}" href="{% url 'profile' %}">{{ request.user }}</a>
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <a class="button is-light" href="{% url "logout" %}">Log out</a>
                        {% else %}
                            <a class="button is-dark" href="{% url "register" %}">Register</a>
                            <a class="button is-light" href="{% url "login" %}">Log in</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Page content -->
    <section class="section">
        <div class="container">
            {% block content %}
                <!-- Page-specific body content goes here, while keeping the navbar -->
            {% endblock content %}
        </div>
    </section>
{% endblock body %}

<!-- Javascript Libraries-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

<!-- The following script is as per the Bulma docs: https://bulma.io/documentation/components/navbar/#navbar-menu -->
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });
    });
</script>
{% block scripts %}
    <!-- page specific scripts can be added here -->
{% endblock scripts %}
</body>
</html>