{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quizzes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'quizzes/css/base.css' %}">
</head>
<body>
{% block body %}
<header>
    <nav>
        <a href={% url 'home' %}>Home</a>
        {% if user.is_authenticated %}
            <a href={% url 'dashboard' %}>Dashboard</a>
            <a href="#">{{ user.username }}'s Profile</a>
            <a href={% url 'logout' %}>Logout</a>
        {% else %}
            <a href={% url 'login' %}>Login</a>
            <a href={% url 'register' %}>Register</a>
        {% endif %}
    </nav>
</header>
<div>
    {% block content %}
    {% endblock content %}
</div>
{% endblock body %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block scripts %}{% load static %}<!-- page specific scripts can be added here -->{% endblock %}
</body>
</html>