{% extends "quizzes/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Quiz{% endblock %}

{% block content %}
    {{ questions|json_script:"questions-data" }}
    <script>
        const value = JSON.parse(document.getElementById('questions-data').textContent);
        console.log(value)
    </script>
    <div class="container">
        <h1>Quiz</h1>
        <div id="quiz">
            <form method="post">
                {% csrf_token %}
                {% for question in questions %}
                    <div class="question-header">
                        <h3>{% if question.origin_to_target %}🇬🇧 → 🇩🇪
                            {% else %}🇩🇪 → 🇬🇧
                        {% endif %}</h3>
                    <h2 id="question">{{ question.word }}</h2>
                    </div>
                    <div class="options-list">
                        <input type="hidden" id="correct" name={{ question.word_id }} value={{ question.correct_answer }}>
                        {% for option in question.options %}
                            <div class="option" data-word_id={{ question.word_id }}>
                            <p class="option-num">{{ forloop.counter0|add:1 }}.)</p>
                                <p class="option-detail">{{ option }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    {% if forloop.last %}
                        <input type="submit" value="See Your Results">
                    {% else %}
                        <button>Next</button>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        <a href="{% url 'home' %}">Quit</a>
    </div>
    <script src={% static 'quizzes/js/quiz.js' %}></script>

{% endblock content %}