{% extends "quizzes/base.html" %}

{% block title %}{{ block.super }}: Home{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <h2>{{ object.long_desc }}</h2>

    <table>
        <thead>
        <th>Origin</th>
        <th>Target</th>
        <th>Score</th>
        <th>Score</th>
        </thead>
        {% for word in words_with_scores %}
            <tr>
                <td>{{word.origin}}</td>
                <td>{{word.target}}</td>
                <td>{{word.score}}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="#">Quiz</a>

{% endblock content %}