{% extends "quizzes/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}: Dashboard{% endblock %}

{% block content %}
    <h1 class="title">Dashboard</h1>

    <!-- First Row: Data Boxes -->
    <div class="columns">
        <div class="column is-one-fifth-desktop">
            <div class="box has-background-info has-text-centered" style="height: 95px;">
                <p class="title is-5 has-text-white m-4">Overview:</p>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading has-text-weight-bold">Live Topics:</p>
                            <p class="title">{{ live_topics|default:0 }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading has-text-weight-bold">Live Words:</p>
                            <p class="title">{{ live_words|default:0 }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading has-text-weight-bold">Students Registered:</p>
                            <p class="title">{{ students_registered|default:0 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row: (Filtered) Data Boxes -->
    <div class="columns">
        <div class="column is-one-fifth-desktop">
            <div class="box has-background-warning" style="height: 100%;">
                <p>{% crispy date_filter %}</p>
            </div>
        </div>
        <div class="column">
            <div class="level box" style="height: 100%;">
                <div class="level-item has-text-centered">
                    <div class="filter-box" id="points-box">
                        <p class="heading has-text-weight-bold">Active Students:</p>
                        <p class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="filter-box" id="quizzes-box">
                        <p class="heading has-text-weight-bold">Quizzes Taken:</p>
                        <p class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="filter-box" id="pc-correct-box">
                        <p class="heading has-text-weight-bold">Points Earned:</p>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart Filter settings -->
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box has-background-danger has-text-centered" style="height: 207px;">
                <p class="title is-5 has-text-white m-4">Charts:</p>
                <p class="subtitle is-5 has-text-white m-4">Apply Filters</p>
            </div>
        </div>
        <div class="column">
            <div class="box has-background-danger-light">
                {% crispy student_filter %}
            </div>
        </div>
    </div>

    <!-- Row 3: Charts -->
    <div class="columns">
        <div class="column is-half">
            <div class="box has-background-link-light has-text-centered">
                <p class="title is-5 m-4">Points Per Topic:</p>
                <canvas id="topicPointsChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="column">
            <div class="box has-background-primary-light has-text-centered">
                <p class="title is-5 m-4">Quizzes Per Topic:</p>
                <canvas id="topicsQuizzesChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        // set up Chart.JS defaults
        Chart.defaults.responsive = true;

        // get date filter information
        const filterButton = document.getElementById("filter-submit");
        const filterButtonStudent = document.getElementById("student-filter-submit");
        const filterableBoxes = Array.from(document.getElementsByClassName("filter-box"));

        // filterable chart set up
        let topicPointsCtx = document.getElementById("topicPointsChart").getContext("2d");
        let topicPointsChart = new Chart(topicPointsCtx, getChartSettings('bar'));
        let topicsQuizzesCtx = document.getElementById("topicsQuizzesChart").getContext("2d");
        let topicsQuizzesChart = new Chart(topicsQuizzesCtx, getChartSettings('pie'));
        const updatableCharts = [topicPointsChart, topicsQuizzesChart];

        function updateDataBoxes(boxes, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (data) => {
                    // update all the data boxes
                    const dataArray = Object.values(data)
                    for (let i = 0; i < dataArray.length; i++) {
                        boxes[i].lastElementChild.innerText = dataArray[i]
                    }
                },
                error: (error_data) => {
                    console.log(error_data)
                }
            })
        }

        function updateChart(chart, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (chartData) => {
                    chart['data'] = chartData;
                    chart.update();
                },
                error: (error_data) => {
                    console.log("Failed to fetch chart data.")
                    console.log(error_data)
                }
            })
        }

        function updateCharts(charts, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (chartsData) => {
                    // update the charts
                    const dataArray = Object.values(chartsData);
                    for (let i = 0; i < dataArray.length; i++) {
                        charts[i]['data'] = dataArray[i]
                        charts[i].update();
                    }
                },
                error: (error_data) => {
                    console.log("Failed to fetch chart data.")
                    console.log(error_data)
                }
            })
        }

        function getChartSettings(chartType){
            let chartSettings =  {
                type: chartType,
                options: {}
            };
            // only show the legend for pie charts
            if(chartType!=='pie'){
                chartSettings.options['plugins'] = {
                    legend: {
                        display: false,
                    },
                };
            }
            return chartSettings;
        }

        function updateAllCharts() {

        }

        // trigger data update when Submit is clicked (DATABOXES)
        filterButton.addEventListener("click", (e) => {
            e.preventDefault()
            let targetForm = $('#date-filter-form');
            let url = targetForm.attr('action') + "?" + targetForm.serialize();
            updateDataBoxes(filterableBoxes, url);
        });

        // trigger data update when Submit is clicked (CHARTS)
        filterButtonStudent.addEventListener("click", (e) => {
            e.preventDefault()
            let targetForm = $('#student-filter-form');
            let url = targetForm.attr('action') + "?" + targetForm.serialize();
            updateCharts(updatableCharts, url);
        });

        $(document).ready(function(){
            // populate initial data into boxes and charts
            filterButton.click();
            filterButtonStudent.click();
            updateAllCharts()
        })
    </script>
{% endblock %}