{% extends "quizzes/base.html" %}

{% block title %}{{ block.super }}: Dashboard{% endblock %}

{% block content %}


    <h1>User Dashboard</h1>
    <div id="boxes">
        <div class="box">
            Words due for revision:
            {{ words_due_revision|default:0 }} /
            {{ total_words|default:0 }}
        </div>
        <div class="box">
            All-time points
            {{ all_time_points.total|default:0 }}
        </div>
        <div class="box">
            Topics Available
            {{ topics_count|default:0 }}
        </div>
        <span>This Week</span>
        <div class="box">
            Quizzes taken this week
            {{ quizzes_this_week|default:0 }}
        </div>
        <div class="box">
            Points this week
            {{ weekly_points.total|default:0}}
        </div>
        <div class="box">
            % Weekly correct
            {{weekly_correct_pc|default:"0%"}}
        </div>

    </div>
    <div id="charts">
        <div class="chart">
            Bar - average word strength per topic
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Pie - quizzes taken per topic, words in need of review by topic
        </div>
        <div class="chart">
            Wordcloud - words sized by their strengths
        </div>

    </div>
    <div id="tables">
        <div class="table">
            Top 10 words to practice (lowest % correct attempts)
        </div>
    </div>


{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            let defaultData = [];
            let labels = [];
            $.ajax({
                method: "GET",
                url: "{% url "api-data" %}",
                success: function(data) {
                    console.log(data)
                    labels = data.labels;
                    data = data.default;

                    // chart stuff
                    const ctx = document.getElementById('myChart');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: '# of Votes',
                                data: data,
                            }]
                        }
                    })

                },
                error: function(error_data){
                    console.log("error!")
                    console.log(error_data)
                }
            })
        })

        /*
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    })
    */

    </script>

{% endblock %}