{% extends "quizzes/base.html" %}

{% block title %}{{ block.super }}: Dashboard{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                method: "GET",
                url: "{% url "api-data" %}",
                success: function(data) {
                    console.log(data)
                },
                error: function(error_data){
                    console.log("error!")
                    console.log(error_data)
                }
            })
        })
    </script>

    <h1>User Dashboard</h1>
    <div id="boxes">
        <div class="box">
            Words due for revision:
            {{ words_due_revision|default:0 }} /
            {{ total_words|default:0 }}
        </div>
        <div class="box">
            All-time points
            {{ all_time_points.total|default:0 }}
        </div>
        <div class="box">
            Topics Available
            {{ topics_count|default:0 }}
        </div>
        <span>This Week</span>
        <div class="box">
            Quizzes taken this week
            {{ quizzes_this_week|default:0 }}
        </div>
        <div class="box">
            Points this week
            {{ weekly_points.total|default:0}}
        </div>
        <div class="box">
            % Weekly correct
            {{weekly_correct_pc|default:"0%"}}
        </div>

    </div>
    <div id="charts">
        <div class="chart">
            Bar - average word strength per topic
        </div>
        <div class="chart">
            Pie - quizzes taken per topic
        </div>
        <div class="chart">
            Wordcloud - words sized by their strengths
        </div>

    </div>
    <div id="tables">
        <div class="table">
            Top 10 words to practice (lowest % correct attempts)
        </div>
    </div>


{% endblock content %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}