{% extends "quizzes/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}: Progress{% endblock %}
{% block content %}

    <h1 class="title">My Progress</h1>
    <h2 class="subtitle">Overview:</h2>

    <div id="boxes">
        <!-- row 1 -->
        <div class="box">
            Words To Revise Today:
            {{ words_due_revision|default:0 }}
        </div>
        <div class="box">
            Words Fully Memorised:
            {{ words_memorised|default:0 }}
        </div>
        <div class="box">
            Current Streak:
            {{ current_streak|default:0 }} days
        </div>
        <!-- row 2 -->
        {% crispy date_filter %}
        <div class="box filter-box" id="points-box">
            Points Earned
            <p></p>
        </div>
        <div class="box filter-box" id="quizzes-box">
            Quizzes Taken
            <p></p>
        </div>
        <div class="box filter-box" id="pc-correct-box">
            % Correct Answers
            <p></p>
        </div>

    </div>

    <div id="charts">
        <div class="chart">
            Bar - Points Per Topic
            <canvas id="topicPointsChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Pie - quizzes taken per topic
            <canvas id="topicsQuizzesChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Bar - words in need of review by topic
            <canvas id="wordsToReviewChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Wordcloud - words sized by their strengths
        </div>

    </div>
    <div id="tables">
        <div class="table">
            Top 10 words to practice (most incorrect attempts)
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        // get date filter information
        const filterButton = document.getElementById("filter-submit");
        const filterableBoxes = Array.from(document.getElementsByClassName("filter-box"));

        // Initial chart set up
        let topicPointsCtx = document.getElementById("topicPointsChart").getContext("2d");
        let topicPointsChart = new Chart(topicPointsCtx, getChartDefaults('bar'));
        let topicsQuizzesCtx = document.getElementById("topicsQuizzesChart").getContext("2d");
        let topicsQuizzesChart = new Chart(topicsQuizzesCtx, getChartDefaults('pie'));
        let wordsToReviewCtx = document.getElementById("wordsToReviewChart").getContext("2d");
        let wordsToReviewChart = new Chart(wordsToReviewCtx, getChartDefaults('bar'));

        function updateDataBoxes(boxes, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (data) => {
                    // update all the data boxes
                    const dataArray = Object.values(data)
                    for (let i = 0; i < dataArray.length; i++) {
                        boxes[i].lastElementChild.innerText = dataArray[i]
                    }
                },
                error: (error_data) => {
                    console.log(error_data)
                }
            })
        }

        function updateChart(chart, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (chartData) => {
                    // extract chart data
                    let title = chartData.title;
                    let label = chartData.label;
                    let backgroundColor = chartData.backgroundColor;
                    let borderColor = chartData.borderColor;
                    let labels = chartData.labels;
                    let data = chartData.data;

                    // refresh the chart data in case of update
                    chart.data.labels.pop();
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data.pop();
                    });

                    // update the chart with the received JSON data
                    chart.data.labels = labels;
                    chart.options.plugins.title.text = title;
                    chart.data.datasets.forEach((dataset) => {
                        dataset.label = label;
                        dataset.data = data;
                        dataset.backgroundColor = backgroundColor;
                        dataset.borderColor = borderColor;
                    });
                    chart.update();
                },
                error: (error_data) => {
                    console.log("Failed to fetch chart data.")
                    console.log(error_data)
                }
            })
        }

        function getChartDefaults(chartType){
            let chartDefaults =  {
                type: chartType,
                data: {
                    labels: [],
                    datasets: [{
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Chart title'
                        },
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            grid: {
                                display: true,
                            },
                        },
                        y: {
                            beginAtZero: true,
                            grid: {
                                display: true,
                            },
                        }
                    },
                    responsive: true,
                }
            };
            if(chartType==='pie'){
                chartDefaults.options.plugins.legend.display = true;
                chartDefaults.options.scales.x.display = false;
                chartDefaults.options.scales.y.display = false;
            }
            return chartDefaults;
        }

        function updateAllCharts() {
            updateChart(topicPointsChart, "{% url "data-topic-points" %}");
            updateChart(topicsQuizzesChart, "{% url "data-topic-quizzes" %}");
            updateChart(wordsToReviewChart, "{% url "data-topic-words" %}");
        }

        // trigger data update when Submit is clicked
        filterButton.addEventListener("click", (e) => {
            e.preventDefault()
            let targetForm = $('#date-filter-form');
            let url = targetForm.attr('action') + "?" + targetForm.serialize();
            updateDataBoxes(filterableBoxes, url);
        });

        $(document).ready(function(){
            // populate initial data into boxes and charts
            filterButton.click();
            updateAllCharts()
        })
    </script>

{% endblock %}