{% extends "quizzes/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}: Progress{% endblock %}
{% block content %}

    <h1 class="title">My Progress</h1>

    <!-- First Row: Data Boxes -->
    <div class="columns">
        <div class="column is-one-fifth-desktop">
            <div class="box has-background-info has-text-centered" style="height: 95px;">
                <p class="title is-5 has-text-white m-4">Overview:</p>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading has-text-weight-bold">Words To Revise Today:</p>
                            <p class="title">{{ words_due_revision|default:0 }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading has-text-weight-bold">Words Fully Memorised:</p>
                            <p class="title">{{ words_memorised|default:0 }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading has-text-weight-bold">Current Streak:</p>
                            <p class="title">{{ current_streak|default:0 }} days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row: (Filtered) Data Boxes -->
    <div class="columns">
        <div class="column is-one-fifth-desktop">
            <div class="box has-background-warning" style="height: 100%;">
                <p>{% crispy date_filter %}</p>
            </div>
        </div>
        <div class="column">
            <div class="level box" style="height: 100%;">
                <div class="level-item has-text-centered">
                    <div class="filter-box" id="points-box">
                        <p class="heading has-text-weight-bold">Points Earned:</p>
                        <p class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="filter-box" id="quizzes-box">
                        <p class="heading has-text-weight-bold">Quizzes Taken:</p>
                        <p class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="filter-box" id="pc-correct-box">
                        <p class="heading has-text-weight-bold">% Correct:</p>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 3: Charts -->
    <div class="columns">
        <div class="column is-half">
            <div class="box has-background-link-light has-text-centered">
                <p class="title is-5 m-4">Points Per Topic:</p>
            <canvas id="topicPointsChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="column">
            <div class="box has-background-primary-light has-text-centered">
                <p class="title is-5 m-4">Quizzes Per Topic:</p>
            <canvas id="topicsQuizzesChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <!-- Row 4: Line Chart -->
    <div class="columns">
        <div class="column">
            <div class="box has-background-success-light has-text-centered">
                <p class="title is-5 m-4">Points Per Day:</p>
            <canvas id="pointsPerDayChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>


        <div class="chart">
            Bar - words in need of review by topic
            <canvas id="wordsToReviewChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Wordcloud - words sized by their strengths
        </div>

    <div id="tables">
        <div class="table">
            Top 10 words to practice (most incorrect attempts)
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        // get date filter information
        const filterButton = document.getElementById("filter-submit");
        const filterableBoxes = Array.from(document.getElementsByClassName("filter-box"));

        // Initial chart set up
        let topicPointsCtx = document.getElementById("topicPointsChart").getContext("2d");
        let topicPointsChart = new Chart(topicPointsCtx, getChartDefaults('bar'));
        let topicsQuizzesCtx = document.getElementById("topicsQuizzesChart").getContext("2d");
        let topicsQuizzesChart = new Chart(topicsQuizzesCtx, getChartDefaults('pie'));
        let wordsToReviewCtx = document.getElementById("wordsToReviewChart").getContext("2d");
        let wordsToReviewChart = new Chart(wordsToReviewCtx, getChartDefaults('bar'));
        let pointsPerDayCtx = document.getElementById("pointsPerDayChart").getContext("2d");
        let pointsPerDayChart = new Chart(pointsPerDayCtx, getChartDefaults('line'));

        function updateDataBoxes(boxes, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (data) => {
                    // update all the data boxes
                    const dataArray = Object.values(data)
                    for (let i = 0; i < dataArray.length; i++) {
                        boxes[i].lastElementChild.innerText = dataArray[i]
                    }
                },
                error: (error_data) => {
                    console.log(error_data)
                }
            })
        }

        function updateChart(chart, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (chartData) => {
                    // extract chart data
                    let title = chartData.title;
                    let label = chartData.label;
                    let backgroundColor = chartData.backgroundColor;
                    let borderColor = chartData.borderColor;
                    let labels = chartData.labels;
                    let data = chartData.data;

                    // refresh the chart data in case of update
                    chart.data.labels.pop();
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data.pop();
                    });

                    // update the chart with the received JSON data
                    chart.data.labels = labels;
                    chart.options.plugins.title.text = title;
                    chart.data.datasets.forEach((dataset) => {
                        dataset.label = label;
                        dataset.data = data;
                        dataset.backgroundColor = backgroundColor;
                        dataset.borderColor = borderColor;
                    });
                    chart.update();
                },
                error: (error_data) => {
                    console.log("Failed to fetch chart data.")
                    console.log(error_data)
                }
            })
        }

        function getChartDefaults(chartType){
            let chartDefaults =  {
                type: chartType,
                data: {
                    labels: [],
                    datasets: [{
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Chart title'
                        },
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            grid: {
                                display: true,
                            },
                        },
                        y: {
                            beginAtZero: true,
                            grid: {
                                display: true,
                            },
                        }
                    },
                    responsive: true,
                }
            };
            if(chartType==='pie'){
                chartDefaults.options.plugins.legend.display = true;
                chartDefaults.options.scales.x.display = false;
                chartDefaults.options.scales.y.display = false;
            }
            return chartDefaults;
        }

        function updateAllCharts() {
            updateChart(topicPointsChart, "{% url "data-topic-points" %}");
            updateChart(topicsQuizzesChart, "{% url "data-topic-quizzes" %}");
            updateChart(wordsToReviewChart, "{% url "data-topic-words" %}");
            updateChart(pointsPerDayChart, "{% url "data-points-day" %}");
        }

        // trigger data update when Submit is clicked
        filterButton.addEventListener("click", (e) => {
            e.preventDefault()
            let targetForm = $('#date-filter-form');
            let url = targetForm.attr('action') + "?" + targetForm.serialize();
            updateDataBoxes(filterableBoxes, url);
        });

        $(document).ready(function(){
            // populate initial data into boxes and charts
            filterButton.click();
            updateAllCharts()
        })
    </script>

{% endblock %}