{% extends "quizzes/base.html" %}

{% block title %}{{ block.super }}: Progress{% endblock %}

{% block content %}
    <h1>My Progress</h1>
    <div id="boxes">
        <div class="box">
            Words due for revision:
            {{ words_due_revision|default:0 }} /
            {{ total_words|default:0 }}
        </div>
        <div class="box">
            All-time points
            {{ all_time_points.total|default:0 }}
        </div>
        <div class="box">
            Topics Available
            {{ topics_count|default:0 }}
        </div>
        <span>This Week</span>
        <div class="box">
            Quizzes taken this week
            {{ quizzes_this_week|default:0 }}
        </div>
        <div class="box">
            Points this week
            {{ weekly_points.total|default:0}}
        </div>
        <div class="box">
            % Weekly correct
            {{weekly_correct_pc|default:"0%"}}
        </div>

    </div>
    <div id="charts">
        <div class="chart">
            Bar - Points Per Topic
            <canvas id="topicPointsChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Pie - quizzes taken per topic
            <canvas id="topicsQuizzesChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Bar - words in need of review by topic
            <canvas id="wordsToReviewChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            Wordcloud - words sized by their strengths
        </div>

    </div>
    <div id="tables">
        <div class="table">
            Top 10 words to practice (most incorrect attempts)
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        // Initial chart set up
        let topicPointsCtx = document.getElementById("topicPointsChart").getContext("2d");
        let topicPointsChart = new Chart(topicPointsCtx, getChartDefaults('bar'));
        let topicsQuizzesCtx = document.getElementById("topicsQuizzesChart").getContext("2d");
        let topicsQuizzesChart = new Chart(topicsQuizzesCtx, getChartDefaults('pie'));
        let wordsToReviewCtx = document.getElementById("wordsToReviewChart").getContext("2d");
        let wordsToReviewChart = new Chart(wordsToReviewCtx, getChartDefaults('bar'));

        function updateChart(chart, url) {
            $.ajax({
                method: "GET",
                dataType: "json",
                url: url,
                success: (chartData) => {
                    // extract chart data
                    let title = chartData.title;
                    let label = chartData.label;
                    let backgroundColor = chartData.backgroundColor;
                    let borderColor = chartData.borderColor;
                    let labels = chartData.labels;
                    let data = chartData.data;

                    // refresh the chart data in case of update
                    chart.data.labels.pop();
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data.pop();
                    });

                    // update the chart with the received JSON data
                    chart.data.labels = labels;
                    chart.options.plugins.title.text = title;
                    chart.data.datasets.forEach((dataset) => {
                        dataset.label = label;
                        dataset.data = data;
                        dataset.backgroundColor = backgroundColor;
                        dataset.borderColor = borderColor;
                    });
                    chart.update();
                },
                error: (error_data) => {
                    console.log("Failed to fetch chart data.")
                    console.log(error_data)
                }
            })
        }

        function getChartDefaults(chartType){
            let chartDefaults =  {
                type: chartType,
                data: {
                    labels: [],
                    datasets: [{
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Chart title'
                        },
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            grid: {
                                display: true,
                            },
                        },
                        y: {
                            beginAtZero: true,
                            grid: {
                                display: true,
                            },
                        }
                    },
                    responsive: true,
                }
            };
            if(chartType==='pie'){
                chartDefaults.options.plugins.legend.display = true;
                chartDefaults.options.scales.x.display = false;
                chartDefaults.options.scales.y.display = false;
            }
            return chartDefaults;
        }

        function updateAllCharts() {
            updateChart(topicPointsChart, "{% url "data-topic-points" %}");
            updateChart(topicsQuizzesChart, "{% url "data-topic-quizzes" %}");
            updateChart(wordsToReviewChart, "{% url "data-topic-words" %}");
        }

        $(document).ready(function(){
            updateAllCharts()
        })
    </script>
{% endblock %}