{% extends "quizzes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ block.super }}: {{ object.name }}{% endblock %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-three-fifths">

            {% if not topic_id %}
                <div class="block">
                    {% crispy word_filter_form %}
                </div>
            {% else %}
                <div id="add-word-element" class="block">
                    <button class="button is-warning block has-text-weight-semibold" id="add-word-button" data-url="{% url 'add_word' %}">+ Add Word</button>
                </div>
                <div id="add-word-ui" class="block" style="display: none">
                    <div id="add-word-ui-form" class="is-marginless">
                    </div>
                </div>
            {% endif %}
            <div class="block table-container">
                <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="words-table">
                    <thead>
                    <tr>
                        <th>Origin</th>
                        <th>Target</th>
                        <th class="has-text-centered">Edit</th>
                        <th class="has-text-centered">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'editor/word_list.html' %}
                    </tbody>
                </table>
            </div>

            <footer class="has-text-weight-semibold">
                <a class="button is-success is-pulled-right" href="{% url 'home' %}">Done</a>
            </footer>

        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script>let topicId = {{ topic_id|default_if_none:0 }}</script>
    <script src="{% static 'editor/js/editor.js' %}"></script>
{% endblock %}