{% for word in words %}
    <tr>
        <td>{{word.origin}}</td>
        <td>{{word.target}}</td>
        <td class="has-text-centered"><a class="button is-info is-small has-text-weight-bold" href="{% url 'word_update' word.id %}?next={{ topic_id }}">Edit</a></td>
        <td class="has-text-centered"><a class="button is-danger is-small has-text-weight-bold" href="{% url 'word_delete' word.id %}?next={{ topic_id }}">Delete</a></td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4">No words to display.</td>
    </tr>
{% endfor %}
