{% extends "quizzes/base.html" %}
{% block title %}{{ block.super }}: Register{% endblock %}
{% block body %}
    <body>
    <section class="hero is-fullheight {% if "/teacher/" in request.path %}is-info{% else %}is-success{% endif %}">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box">
                            {% block box %}
                            {% endblock box %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}