{% extends "users/base_users.html" %}
{% load crispy_forms_filters %}
{% block box %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control">
            <button class="button is-link" id="login-button" type="submit">Log in</button>
        </div>
    </form>
    <br>
    <footer>
        <small>
            <a class="is-underlined" href="{% url 'password_reset' %}">Forgotten your password?</a><br>
            Need an account? <a class="is-underlined" href="{% url 'register' %}">Register today!</a>
        </small>
    </footer>
{% endblock box %}