{% extends "users/base_users.html" %}
{% load crispy_forms_filters %}
{% block box %}
    <div class="title is-4 has-text-dark mb-6">Forgot your password?</div>
    <div class="subtitle has-text-dark">Please enter the email address registered with your account below.</div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control">
            <button class="button is-link" type="submit">Reset password</button>
        </div>
    </form>
{% endblock box %}